# Database URL for Prisma
DATABASE_URL=postgresql://andika:password@localhost:5432/andika_live?schema=public

# NextAuth
NEXTAUTH_SECRET=your-secret
EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
EMAIL_FROM=no-reply@example.com

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
